<div class="d-flex justify-content-between">
  <%= link_to band_setlist_setlist_songs_path(@band, @setlist), class: 'btn bn-lg btn-light mb-3' do %>
    <i class="fa-solid fa-circle-xmark"></i>
  <% end%>

  <%= paginate @setlist_songs %>
</div>

<% @setlist_songs.each do |setlist_song| %>
  <h3><%= setlist_song.song %></h3>
  <p>
  <% unless setlist_song.song.key.blank? %>
    <%= t('activerecord.attributes.song.key') %>: <%= setlist_song.song.key %>
  <% end %>
  </p>

  <pre><%= setlist_song.song.chords %></pre>
<% end %>


<%= paginate @setlist_songs %>
