<div class="list-group-item" id="<%= dom_id setlist_song %>" data-sortable-update-url="<%= band_setlist_setlist_song_path(@band, @setlist, setlist_song) %>">
  <div class="d-flex w-100 justify-content-between">
    <span>
      <i class="fa-solid fa-ellipsis-vertical"></i>
      <i class="fa-solid fa-ellipsis-vertical me-4"></i>
      <%= setlist_song.song %>
    </span>

    <div class="d-flex">
      <%= link_to band_song_path(@band, setlist_song.song), data: { turbo: false }, class: 'btn btn-dark' do %>
        <i class="fa fa-play"></i>
      <% end %>
      <%= button_to band_setlist_setlist_song_path(@band, @setlist, setlist_song), method: :delete, form: { data: { turbo_confirm: t('app.confirm_delete') } }, class: 'btn btn-sm btn-dark' do %>
        <i class="fa fa-trash"></i>
      <% end %>
    </div>
  </div>
</div>
