<h1> <%= @band.name  %> </h1>
<h2> <%= Song.model_name.human.pluralize  %> </h2>

<%= link_to new_band_setlist_setlist_song_path(@band, @setlist), data: { turbo_frame: dom_id(SetlistSong.new) }, class: 'btn btn-outline-light mb-3' do %>
    <i class="fa fa-plus"></i>
    <%= t('app.add', item: Song.model_name.human) %>
  <% end %>

<%= turbo_frame_tag SetlistSong.new %>

<div class="list-group list-group-flush">
  <%= turbo_frame_tag 'setlist_songs' do %>
    <%= render @setlist_songs %>
  <% end %>
</div>
