<div id="login-card" class="card">
  <div class="card-body">
    <h5 class="card-title">.: OnStage - <%= t('login.recover_password') %></h5>
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="mb-3">
          <%= f.label :email, class: 'form-label' %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>

        <%= f.submit t('login.send_password_instructions'), class: 'btn btn-dark' %>
      <% end %>
    </div>

    <%= render "devise/shared/links" %>
  </div>
</div>
