<div class="card my-2">
  <div class="card-body">
    <%= form_with(model: [@band, song]) do |form| %>
      <% if song.errors.any? %>
        <%= render 'errors', object: song %>
      <% end %>

      <div class="mb-3">
        <%= form.label :name, class: 'form-label' %>
        <%= form.text_field :name, required: 'required', class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= form.label :artist, class: 'form-label' %>
        <%= form.text_field :artist, class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= form.label :key, class: 'form-label' %>
        <%= form.text_field :key, class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= form.label :track_duration, class: 'form-label' %>
        <%= form.text_field :track_duration, class: 'form-control', placeholder: '3:45' %>

      </div>

      <div class="mb-3">
        <%= form.label :chords, class: 'form-label' %>
        <%= form.text_area :chors, class: 'form-control' %>
      </div>

      <%= form.submit class: 'btn btn-outline-light' %>
      <%= link_to band_songs_path, class: 'btn btn-outline-secondary' do %>
        <%= t('app.cancel') %>
      <% end %>
    <% end %>
  </div>
</div>
