<table class="min-w-full block md:table">
  <thead class="block md:table-header-group bg-indigo-100 dark:bg-indigo-900 font-bold text-gray-900 transition-colors rounded-md dark:text-light">
    <tr class="block md:table-row absolute -top-full md:top-auto -left-full md:left-auto md:relative">
      <th class="p-2 text-left block md:table-cell md:border md:dark:border-indigo-900">
        <%= t('models_and_attributes.attributes.song.name') %>
      </th>
      <th class="p-2 text-left block md:table-cell md:border md:dark:border-indigo-900">
        <%= t('models_and_attributes.attributes.song.artist') %>
      </th>
      <th class="p-2 text-left block md:table-cell md:border md:dark:border-indigo-900">
        <%= t('models_and_attributes.attributes.song.key') %>
      </th>
      <th class="p-2 text-left block md:table-cell md:border md:dark:border-indigo-900">
        <%= t('models_and_attributes.attributes.song.duration') %>
      </th>
      <th class="p-2 text-left block md:table-cell md:border md:dark:border-indigo-900">&nbsp;</th>
    </tr>
  </thead>

  <tbody class="block md:table-row-group">
    <% @band.songs.order(:name).each do |song| %>
      <%= render song %>
    <% end %>
  </tbody>
</table>
