<h1><%= @band.name %> - <%= @song.name %>, by <%= @song.artist %></h1>

<div class="d-flex flex-row mb-3">
  <div class="p-2">
    <%= t('activerecord.attributes.song.duration') %>: <%= @song.track_duration || '-' %>
  </div>
  <div class="p-2">
    <%= t('activerecord.attributes.song.key') %>: <%= @song.key || '-' %>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <pre><%= @song.chords %></pre>
  </div>
</div>
