<%= link_to band, data: { turbo: false }, class: 'list-group-item list-group-item-action' do %>
  <li class="d-flex w-100 justify-content-between">
    <%= band.name %>
    <%# <span class="badge bg-primary rounded-pill">14</span> %>
  </li>
<% end %>

<%#   <%1# <li> %1> %>
  <%#     <%1#   <div> %1> %>
    <%#       <%1#     <div> %1> %>
      <%#         <%1#       <%= band.name %2> %1> %>
      <%#         <%1#     </div> %1> %>

    <%#       <%1#     <div> %1> %>
      <%#         <%1#       <%= link_to t('app.select'), band, data: { turbo: false } %2> %1> %>
      <%#         <%1#       <%= link_to t('app.edit', item: band.class.name), edit_band_path(band) %2> %1> %>
      <%#         <%1#       <%= button_to t('app.delete', item: band.class.name), band, method: :delete, form: { data: { turbo_confirm: t('app.confirm_delete') } } %2> %1> %>
      <%#         <%1#     </div> %1> %>
    <%#       <%1#   </div> %1> %>
  <%#     <%1# </li> %1> %>
<%# <% end %1> %>
