<div class="list-group-item">
  <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"><%= band.name %></h5>
    
    <%= link_to band, data: { turbo: false }, class: 'btn btn-small btn-dark align-middle' do  %>
      <i class="fa-solid fa-circle-info"></i>
    <% end %>
  </div>
  <p class="mb-1">
    <%= band.band_users.count %> <%= t('activerecord.models.band_user', count: band.band_users.count) %>,
    <%= band.songs.count %> <%= t('activerecord.models.song', count: band.songs.count) %>,
    <%= band.setlists.count %> <%= t('activerecord.models.setlist', count: band.setlists.count) %>
  </p>
</div>
