<div class="card my-2">
  <div class="card-body">
    <%= form_with(model: band) do |form| %>
      <% if band.errors.any? %>
        <%= render 'errors', object: band %>
      <% end %>

      <div class="mb-3">
        <%= form.label :name, class: 'form-label' %>
        <%= form.text_field :name, required: 'required', class: 'form-control' %>
      </div>

        <%= form.submit class: 'btn btn-outline-light' %>
        <%= link_to bands_path, class: 'btn btn-outline-secondary' do %>
          <%= t('app.cancel') %>
        <% end %>
    <% end %>
  </div>
</div>
