<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= t('band.last_songs') %></h5>

    <div class="list-group list-group-flush">
      <% @band.songs.order(created_at: :desc).limit(5).each do |song| %>
        <div class="list-group-item">
          <div class="d-flex w-100 justify-content-between">
            <span><%= song %></span>

            <div class="d-flex">
              <%= link_to band_song_path(@band, song), class: 'btn btn-sm btn-dark' do %>
                <i class="fa fa-play"></i>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="mt-3">
      <%= link_to band_setlists_path(@band), data: { turbo_frame: false }, class: 'btn btn-outline-light' do %>
        <i class="fa fa-eye"></i>
        <%= t('band.songs') %>
      <% end %>
    </div>
  </div>
</div>
