<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="text-lg font-bold text-4xl">
      <%= t('my_bands') %>
    </h1>

    <%= link_to new_band_path,
      class: "rounded-lg py-3 px-5 bg-indigo-100 dark:bg-indigo-600 text-white block font-medium text-gray-500 transition-colors dark:text-light inline-flex border border-indigo-600 hover:border-blue-500",
      data: { 'turbo-frame': 'new_band' } do

    %>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
      </svg>
      <span>
        <%= t('new') %>
        <%= t('models_and_attributes.models.band.one') %>
      </span>
    <% end %>
  </div>

  <br />

  <%= turbo_frame_tag :new_band %>

  <!-- component -->
  <table class="min-w-full block md:table">
    <thead class="block md:table-header-group bg-indigo-100 dark:bg-indigo-600 font-bold text-gray-500 transition-colors rounded-md dark:text-light">
      <tr class="block md:table-row absolute -top-full md:top-auto -left-full md:left-auto  md:relative ">
        <th class="p-2 text-left block md:table-cell"><%= t('models_and_attributes.attributes.band.name') %></th>
        <th class="p-2 text-left block md:table-cell"><%= t('models_and_attributes.attributes.band.owner') %></th>
        <th class="p-2 text-left block md:table-cell">&nbsp;</th>
      </tr>
    </thead>

    <tbody class="block md:table-row-group">
      <%= turbo_frame_tag :bands do %>
        <%= render @bands %>
      <% end %>
    </tbody>
  </table>
</div>
