<h1><%= @band.name %></h1>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= t('band.members') %></h5>
          <div class="list-group list-group-flush">
            <%= turbo_frame_tag 'band_users' do %>
              <%= render @band.band_users.order({ role: :desc, created_at: :asc }).includes(:user) %>
            <% end %>
          </div>

          <%= turbo_frame_tag BandUser.new %>

          <div class="mt-3">
            <% if @band.owner == current_user %>
              <%= link_to new_band_band_user_path(@band), data: { turbo_frame: dom_id(BandUser.new) }, class: 'btn btn-light' do %>
                <i class="fa fa-plus"></i>
                <%= t('band.add_member') %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= t('band.last_songs') %></h5>
          <div class="list-group">
            <% @band.songs.order(created_at: :desc).limit(5).each do |song| %>
              <%= link_to band_song_path(@band, song), class: 'list-group-item list-group-item-action' do %>
                <li>
                  <%= song.artist %> -  <%= song.name %>
                </li>
              <% end %>
            <% end %>
          </div>

          <%= turbo_frame_tag BandUser.new %>

          <div class="mt-3">
            <%= link_to band_setlists_path(@band), data: { turbo_frame: false }, class: 'btn btn-light' do %>
              <i class="fa fa-eye"></i>
              <%= t('band.songs') %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="col"></div>
  </div>
</div>
