<div class="card my-2">
  <div class="card-body">
    <%= form_with(model: [@band, band_user]) do |form| %>
      <% if band_user.errors.any? %>
        <%= render 'errors', object: band_user %>
      <% end %>

      <div class="mb-3">
        <%= form.label :email, class: 'form-label' %>
        <%= form.email_field :email, required: 'required', class: 'form-control' %>
      </div>

      <button class="btn btn-outline-light" type="submit">
        <i class="fa fa-plus"></i>
        <%= t('band.add_member') %>
      </button>
      <%= link_to band_band_users_path, class: 'btn btn-outline-secondary' do %>
        <%= t('app.cancel') %>
      <% end %>
    <% end %>
  </div>
</div>
