<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <%= link_to root_path, class: 'navbar-brand' do %>
      <i class="fa-solid fa-music"></i>
      <span class="mx-1">OnStage</span>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to root_path, class: 'nav-link' do %>
            <i class="fa-solid fa-user-group"></i>
            <%= t('band.my_bands') %>
          <% end %>
        </li>

        <% if @band %>
          <%= render 'band_menu' %>
        <% end %>
      </ul>

      <span class="navbar-text">
        <%= render 'user_menu' %>
      </span>
    </div>
  </div>
</nav>
