<!DOCTYPE html>
<html>
  <head>
    <title>Onstage</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
  </head>

  <body>
    <div
      x-data="setup()"
      x-init="$refs.loading.classList.add('hidden');"
      :class="{ 'dark': isDark }"
      @resize.window="watchScreen()"
      >
      <div class="flex h-screen antialiased text-gray-900 bg-gray-100 dark:bg-dark dark:text-light">
        <!-- Loading screen -->
      <div
        x-ref="loading"
        class="fixed inset-0 z-50 flex items-center justify-center text-2xl font-semibold text-white bg-indigo-800"
        >
        Loading.....
      </div>
        <div
          x-show="isSidebarOpen"
          @click="isSidebarOpen = false"
          class="fixed inset-0 z-10 bg-indigo-800 lg:hidden"
          style="opacity: 0.5"
          aria-hidden="true"
          ></div>

        <% if user_signed_in? %>
          <%= render 'sidebar' %>
        <% end %>

        <!-- Main content -->
        <main class="flex-1">
          <div class="flex flex-col items-center justify-center flex-1 h-full min-h-screen p-4 overflow-x-hidden overflow-y-auto">

            <%= yield %>

            <!--
              <h1 class="mb-4 text-2xl font-semibold text-center md:text-3xl">Mini + One Columns Sidebar</h1>
              <div class="mb-4">
                <div class="relative flex p-1 space-x-1 bg-white shadow-md w-80 h-72 dark:bg-darker">
                  <div class="w-6 h-full bg-gray-200 dark:bg-dark"></div>
                  <div class="w-16 h-full bg-gray-200 dark:bg-dark"></div>
                  <div class="flex-1 h-full bg-gray-100 dark:bg-dark"></div>
                </div>
              </div>
              <div>
                <p class="text-center">See full project</p>
                <a
                  href="https://kamona-wd.github.io/kwd-dashboard/"
                  target="_blank"
                  class="text-base text-blue-600 hover:underline"
                  >Live</a
                >
                <a
                  href="https://github.com/Kamona-WD/kwd-dashboard"
                  target="_blank"
                  class="ml-4 text-base text-blue-600 hover:underline"
                  >Github repo</a
                >
              </div>
            -->
          </div>
        </main>

        <!-- Panels -->
        <% # a lot of javascripts loaded too %>

        <%= render 'pannels' %>
      </div>
    </div>
  </body>
</html>
